/* The Open Sans font which is imported contains 300, 400, 600, 700 and 800*/


/* Universal Settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0px 20px;
}

form {
    display: flex;
    margin-top: 15px;
}

#input-field, #clear-button {
    height: 60px;
}

#input-field {
    flex: 1;
    border: none;
    outline: none;
    color: #606060;
    font-size: 1.4rem;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #E0E0E0;
}

#clear-button {
    border: none;
    width: 100px;
    outline: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    margin-left: 10px;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    background-color: #E44A4A;
    transition: all 0.2s ease-in-out;
}

#clear-button:hover {
    background-color: #b94343;
}


h1 {
    margin-top: 40px;
}

.todos-section {
    margin-top: 15px;
}

.todos-section .incomplete {
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: #808080;
    font-size: 1.7rem;
    background: transparent;
    transition: color 0.2s ease-in-out;
}

.todos-section .completed {
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    color: #afafaf;
    font-size: 1.7rem;
    background: transparent;
    text-decoration: line-through;
    transition: color 0.2s ease-in-out;
}

.todos-section .completed:hover {
    color: red;
}

.todos-section .incomplete:not(:first-child), .todos-section .completed:not(:first-child) {
    margin-top: 15px;
}

.todos-section .incomplete:hover {
    text-decoration: line-through;
    color: #afafaf;
}


/* Media Queries for making the web application responsive for smaller screen. */
@media screen and (max-width: 750px) {
    form {
        height: auto;
        flex-direction: column;
    }

    #input-field {
        flex: auto;
    }

    #clear-button {
        margin: 5px 0px 0px 0px;
        width: 100%;
    }
}